.authentification {
  box-shadow: 10px 5px 5px grey;
  width: 55%;
  position: relative;
  top: 100px;
  left:15%;
  padding:20px 80px 30px 20px ;
  height: 100%;
  background-color: honeydew;
  margin-bottom: 40px;
}
.authentification h2{
  padding-top: 40px;
  padding-bottom: 40px;
}
.fields{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.field{
  width: 200px;
  padding-bottom: 20px;
}
.navbar{
  background-color: honeydew;
}
.sideImg{
float: right;
padding-top: 10%;  
}
